#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  max-width: 100vh;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #454545;
}

/* ----------------------NavBar--------------------- */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* align-items: center; */
  background: linear-gradient(to bottom, rgba(50, 55, 65, 1), rgba(50, 55, 65, 0.3));
}

/* -------NavBar-Left------- */
.navBar .left {
  display: flex;
  flex-direction: row;
}

.navBar .left .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar .left .navigation a {
  padding: 8px;
  color: rgba(255, 255, 255, 0.856);
}

.navBar .left .navigation .a-close {
  display: none;
}

.navBar .left .navigation a:hover {
  color: rgba(255, 255, 255, 0.966);
}

.navBar .left .navigation .fa-bars {
  display: none;
  color: rgba(255, 255, 255, 0.966);
  margin-left: 8px;
}



/* -------NavBar-Right------- */
.navBar .right {
  display: flex;
  flex-direction: row;
}

.navBar .right img {
  height: 45px;
  padding-right: 8px;
  padding-top: 4px;
}

.navBar .right .social-icon {
  display: flex;
  margin-left: 14px;
}












@media (max-width: 425px) {

  /* -------NavBar-Left------- */
  .navBar .left .navigation .fa-bars {
    display: flex;
  }

  /* -------NavBar-Right------- */
  .navBar .right img {
    height: 35px;
  }
}